/* Colors */
$gray-light-A2: #A2A2A2;
$gray-light-D0: #D0D1D3;
$gray-light-80: #808183;
$gray-light-F1: #F1F1F2;
$gray-med-A6: #A6A8AA;
$gray-med-6D: #6D6E70;
$gray-med-92: #929496;
$gray-drk-43: #434244;
