/* style.scss */
$link-color: blueviolet;
$navbar-width: 100%;
$items: 3;
$navbar-color-main: #59595B;

#navbar {	
	background-color: $navbar-color-main;
	height: 50px;
	width: $navbar-width;

	ul { list-style-type: none; }
		ul li { 
				display: inline; 
				float: left;     
				padding: 15px;
				width: $navbar-width/$items - 10%; 
		}
			ul li a { 	color: $link-color; 
						&:hover { color: green; }
			}
			
	h1 { margin-top: 0; }
}