/* font-face */
@font-face {
  font-family: "SocialFoundicons";
  src: url("fonts/social_foundicons.eot");
  src: url("fonts/social_foundicons.eot?#iefix") format("embedded-opentype"), url("fonts/social_foundicons.woff") format("woff"), url("fonts/social_foundicons.ttf") format("truetype"), url("fonts/social_foundicons.svg#SocialFoundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global foundicon styles */
/* line 34, ../sass/social_foundicons.scss */
[class*="social-foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

/* line 44, ../sass/social_foundicons.scss */
[class*="social-foundicon-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

/* icons */
/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-thumb-up:before {
  content: "\f000";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-thumb-down:before {
  content: "\f001";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-rss:before {
  content: "\f002";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-facebook:before {
  content: "\f003";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-twitter:before {
  content: "\f004";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-pinterest:before {
  content: "\f005";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-github:before {
  content: "\f006";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-path:before {
  content: "\f007";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-linkedin:before {
  content: "\f008";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-dribbble:before {
  content: "\f009";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-stumble-upon:before {
  content: "\f00a";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-behance:before {
  content: "\f00b";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-reddit:before {
  content: "\f00c";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-google-plus:before {
  content: "\f00d";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-youtube:before {
  content: "\f00e";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-vimeo:before {
  content: "\f00f";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-flickr:before {
  content: "\f010";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-slideshare:before {
  content: "\f011";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-picassa:before {
  content: "\f012";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-skype:before {
  content: "\f013";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-steam:before {
  content: "\f014";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-instagram:before {
  content: "\f015";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-foursquare:before {
  content: "\f016";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-delicious:before {
  content: "\f017";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-chat:before {
  content: "\f018";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-torso:before {
  content: "\f019";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-tumblr:before {
  content: "\f01a";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-video-chat:before {
  content: "\f01b";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-digg:before {
  content: "\f01c";
}

/* line 6, ../sass/social_foundicons.scss */
.social-foundicon-wordpress:before {
  content: "\f01d";
}
