/* style.scss */
/* line 7, ../sass/style.scss */
#navbar {
  background-color: #59595b;
  height: 50px;
  width: 100%;
}
/* line 12, ../sass/style.scss */
#navbar ul {
  list-style-type: none;
}
/* line 13, ../sass/style.scss */
#navbar ul li {
  display: inline;
  float: left;
  padding: 15px;
  width: 23.33333%;
}
/* line 19, ../sass/style.scss */
#navbar ul li a {
  color: blueviolet;
}
/* line 20, ../sass/style.scss */
#navbar ul li a:hover {
  color: green;
}
/* line 23, ../sass/style.scss */
#navbar h1 {
  margin-top: 0;
}
